@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Albert Sans'
}

.password {
  background: #ccc;
  border: 2px dashed #000;
  padding: 15px;
  width: fit-content;
}